// for nav
%nav-Styles {
  position: sticky;
  top: 0;
  z-index: 10;
}

// for top-img
%top-img-buttons {
  font-size: 17px;
  padding: 13px 18px;
  font-weight: 500;
  text-decoration: none;
}

// for about and view more title
%title-styles {
  color: #C52100;
  font-size: 12px;
  font-weight: 700;
  line-height: 17.6px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  padding: 1vh;
}

@mixin subTitleStyles() {
  display: flex;
  justify-content: space-between;
  margin-bottom: 11vh;

  .subTitle {

    h2 {
      margin: 0;
      color: #2B0A0A;
      font-size: 38px;
      font-weight: 700;
      text-transform: capitalize;
    }
  }

  a {
    background: #2B0A0A;
    padding: 14px 21.64px 14px 20px;
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    height: fit-content;
  }
}

// inline-block style for p tag
%inline {
  margin: 0;
  display: inline-block;
}

// for about numbering
%number-values {
  color: #2B0A0A;
  font-size: 38px;
  font-weight: 700;
  text-transform: capitalize;
  display: inline;
  margin: 0;
}