@import '../config';

.viewMoreContainer {
  padding: 150px 0;
  background: #F8F1EF;

  .viewMoreCover {
    padding: 0 250px;
  
    .title {
      @extend %title-styles;
    }
  
    .subTitleCover {
      @include subTitleStyles();
      align-items: center;
      
      a {
        border: 1px solid #400;
        background: #F8F1EF;
        color: #400;
        text-align: center;
      }
    }

  }

  .carouselContainer {
    position: relative;
    overflow-y: hidden;
    height: 430px;

    .contentItem1, .contentItem2 {
      padding: 1.4vw 2.8vw 1.4vw 1.4vw;
      display: flex;
      background: #fff;
      width: fit-content;
      gap: 1.5vw;
      position: absolute;
      left: 360px;
      
      img {
        width: 302px;
        height: 350px;
      }

      .contentCover {
        width: 345px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2 {
          margin: 0;
          color: #2B0A0A;
          font-size: 30px;
          font-weight: 700;
          text-transform: capitalize;
        }

        p {
          margin: 1.5vh 0;
          color: #632727;
          font-size: 15px;
          font-weight: 400;
          line-height: 26px;
        }

        hr {
          border-radius: 1.5px;
          background: #E7D7D7;
          margin: 5vh 0 2.5vh 0;
        }

        .dateTimeContainer {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .dateCover, .timeCover {
            display: flex;
            align-items: center;
            gap: 1vh;

            img {
              width: 15px;
              height: 15px;
            }

            p {
              margin: 0;
              color: #2B0A0A;
              font-size: 14px;
              font-weight: 500;
            }
          }
        }
      }
    }

    .contentItem2 {
      left: 1130px;
    }

    .arrowsCover {
      display: flex;
      justify-content: space-between;
      position: sticky;
      top: 22vh;
      left: 19.2vw;
      z-index: 2;
      width: 56.5vw;

      img {
        background: #2B0A0A;width: 60px;
        height: 15px;
        width: 15px;
        padding: 2vh;
        justify-content: center;
        align-items: center;
      }
    }

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: inherit;
      border-radius: 15px;
    }
  }
  
}
